<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nexus.push.dao.NoticeMapper">
 	<resultMap id="NoticeDomain" type="com.nexus.push.domain.Notice">
		<result property="notice_id" column="notice_id"/>
		<result property="notice_title" column="notice_title"/>
		<result property="notice_coments" column="notice_coments"/>
		<result property="mod_date" column="mod_date"/>
		<result property="use_yn" column="use_yn"/>
	</resultMap>
	
	<select id="noticeListCount" resultType="Integer">
		select count(*)
		from push_notice;
	</select>
	
	<select id="noticeList" resultMap = "NoticeDomain">
		select	notice_id,
				notice_title,
				notice_coments,
				use_yn,
				DATE_FORMAT(mod_date, '%Y-%m-%d') mod_date
		from push_notice
		order by notice_id
		limit #{startIndex}, #{cntPerPage}
		
	</select>
	<select id="noticeOne" parameterType="String" resultMap = "NoticeDomain">
		select	notice_id,
				notice_title,
				notice_coments
		from push_notice
		where notice_id = #{notice_id}
	</select>
	<insert id="noticeInsert" parameterType="com.nexus.push.domain.Notice">
		insert into push_notice
		(
			notice_title,
			notice_coments,
			mod_date
		)
		values
		(
			#{notice_title},
			#{notice_coments},
			NOW()
		)
	</insert>
	<update id="noticeUpdate" parameterType="com.nexus.push.domain.Notice">
		update push_notice set
			notice_title = #{notice_title},
			notice_coments = #{notice_coments},
			mod_date = NOW()
		where notice_id = #{notice_id}
	</update>
	<delete id="noticeDelete" parameterType="String">
		delete from push_notice
		where notice_id = #{notice_id}
	</delete>
 </mapper>